body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
  background-color: #f0f0f0;
  margin: 0;
  font-family: Arial, sans-serif;
  padding: 20px;
}
form {
  max-width: 400px;
  width: 100%;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h2 {
  color: #333;
}
form {
  max-width: 400px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
}
label {
  display: block;
  margin-bottom: 8px;
  color: #555;
}
input[type="text"],
input[type="tel"],
input[type="email"],
button[type="submit"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
}
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus,
.button {
  padding: 20px 40px; /* Adjust padding */
  background-color: blue;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 10px; /* Rounded corners */
  margin: 10px;
  font-size: 20px;
}
.button:hover {
  background-color: darkblue;
}
#forceNextQuestion {
  padding: 10px 20px; /* Adjust padding */
  background-color: blue;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 10px; /* Rounded corners */
  margin: 10px;
  font-size: 15px;
}
#forceNextQuestion:hover {
  background-color: darkgoldenrod;
}
#questionVideo,
#answerRecorder {
  width: 100%; /* Full width of the container */
  max-width: 30em; /* Max width for responsive design */
  height: auto; /* Maintain aspect ratio */
  margin-bottom: 1em; /* Space below the videos */
  border-radius: 10px;
  border-width: 2px;
  border-color: black;
  border-style: solid;
}
img {
  width: 0.5em;
  height: auto;
}
.logoimg {
  width: 10em;
  height: auto;
}

.checkbox_group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 10px;
}
.checkbox_group {
  display: flex;
  align-items: center;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.checkbox_group label {
  margin-left: 10px;
}
button:disabled {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}

#forceNextQuestion:disabled {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}
/* Existing CSS */
img {
  width: 100%; /* Make the image responsive */
  height: auto;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; /* Make the container take up the full width */
  max-width: 960px; /* Limit the maximum width */
  margin: 0 auto; /* Center the container */
  padding: 1em; /* Add some padding */
}

button:disabled {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}
.levelRadio-group {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
}
.levelRadio-group input[type="radio"] {
  position: relative;
  top: -5px;
}

.checkbox_group {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 1em;
}
.checkbox_group input[type="checkbox"] {
  position: relative;
  top: -3px;
}

/* Media query for screens smaller than 600px */

@media (max-width: 600px) {
  .container {
    padding: 0.5em; /* Reduce padding for smaller screens */
    width: 80%;
    max-width: 600px; /* or any other suitable value */
    margin: 0 auto; /* center the container if the screen is wider than max-width */
  }

  form {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }
  .checkbox_group {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 1em;
  }

  #extracontent img {
    width: 100%;
    display: block;
    margin: auto;
  }
  #extracontent {
    justify-content: center;
    display: flex;
  }
  #questionVideo,
  #answerRecorder {
    width: 100%; /* Full width of the container */
    max-width: 15em; /* Max width for responsive design */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 0.5em; /* Space below the videos */
    border-radius: 10px;
    border-width: 1px;
    border-color: gray;
    border-style: solid;
  }
  .button {
    padding: 0.5em 1em; /* Adjust padding */
    background-color: blue;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 10px; /* Rounded corners */
    margin: 10px;
    font-size: 1em;
  }
  #forceNextQuestion {
    padding: 0.5em 1em; /* Adjust padding */
    background-color: blue;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 10px; /* Rounded corners */
    margin: 10px;
    font-size: 1em;
  }
  #answerRecorderWarning {
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word;
  }
}
